.claude/

backend-MD/.env
backend-MD/node_modules
backend-MD/.IA

backend-MD/ML/.venv
backend-MD/ML/__pycache__
backend-MD/ML/**/__pycache__

backend-MD/ML/artifacts
backend-MD/ML/reports
backend-MD/ML/data/processed

backend-Project/.env
backend-Project/node_modules
backend-Project/.IA

frontend-Project/.env
frontend-Project/node_modules
frontend-Project/.IA
frontend-Project/dist
frontend-Project/tsconfig.tsbuildinfo
